@charset "UTF-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #888;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bellota", cursive;
  color: #473452;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 22px;
}

p {
  line-height: 1.5;
}

a {
  transition: all .3s;
}

section {
  padding: 30px 0;
}

section .section-header {
  text-align: center;
  margin-bottom: 40px;
}

section .section-header p {
  margin: auto;
  font-weight: 300;
}

@media all and (min-width: 768px) {
  section .section-header p {
    width: 70%;
  }
}

.container {
  max-width: 100%;
  width: 100%;
  padding: 23px;
  margin: 0 auto;
}

@media all and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  section {
    padding: 60px 0;
  }
}

@media all and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  width: 100%;
}

@media all and (min-width: 768px) {
  .col-md-66p {
    width: 66.66%;
  }
  .col-md-50p {
    width: 50%;
  }
  .col-md-33p {
    width: 33.33%;
  }
}

@media all and (min-width: 992px) {
  .col-lg-25p {
    width: 25%;
  }
}

.main-nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  background-color: #fff;
  padding: 12px 0;
}

.main-nav .main-nav-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-nav .main-nav-holder .brand {
  height: 50px;
  display: inline-block;
}

.main-nav .main-nav-holder .brand img {
  height: 100%;
}

.main-nav .main-nav-holder .mobile-hamburger, .main-nav .main-nav-holder .mobile-close {
  font-size: 28px;
  line-height: 50px;
  cursor: pointer;
}

.main-nav .main-nav-holder .mobile-hamburger {
  color: #1ba5cd;
}

.main-nav .main-nav-holder .mobile-close {
  color: #fff;
  text-align: right;
  height: 50px;
}

.main-nav .main-nav-holder .open-menu-holder {
  position: fixed;
  background: #1ba5cd;
  top: 0;
  right: 0;
  max-width: 480px;
  width: 480px;
  text-align: right;
  padding: 12px 23px;
  display: none;
}

.main-nav .main-nav-holder .open-menu-holder.open {
  display: block;
}

.main-nav .main-nav-holder .open-menu-holder .menu {
  list-style: none;
}

.main-nav .main-nav-holder .open-menu-holder .menu .menu-item {
  font-size: 50px;
  text-transform: uppercase;
  padding: 20px 0;
}

.main-nav .main-nav-holder .open-menu-holder .menu .menu-item a {
  color: #fff;
  text-decoration: none;
}

@media all and (min-width: 992px) {
  .main-nav .main-nav-holder {
    justify-content: start;
  }
  .main-nav .main-nav-holder .brand {
    height: 80px;
  }
  .main-nav .main-nav-holder .mobile-hamburger, .main-nav .main-nav-holder .mobile-close {
    display: none;
  }
  .main-nav .main-nav-holder .open-menu-holder {
    display: block;
    position: static;
    background-color: transparent;
    width: auto;
    max-width: 100%;
    padding: 0;
    align-self: flex-start;
  }
  .main-nav .main-nav-holder .open-menu-holder .menu {
    list-style: none;
    background-color: #fff;
  }
  .main-nav .main-nav-holder .open-menu-holder .menu .menu-item {
    display: inline-block;
    margin: 0 10px;
    font-size: initial;
    text-transform: uppercase;
    transition: all .3s;
  }
  .main-nav .main-nav-holder .open-menu-holder .menu .menu-item a {
    color: #473452;
    font-weight: 700;
    text-decoration: none;
    transition: all .3s;
  }
  .main-nav .main-nav-holder .open-menu-holder .menu .menu-item a:hover {
    text-shadow: 0px 0px 90px #1ba5cd;
  }
}

@media all and (min-width: 1200px) {
  .main-nav .main-nav-holder .open-menu-holder .menu .menu-item {
    margin: 0 20px;
  }
}

.main-header {
  height: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.main-header .header-description {
  color: #473452;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Bellota", cursive;
  font-weight: 700;
}

.main-header h1 {
  color: #1e2528;
  font-size: 50px;
}

.main-header .main-header-content {
  color: #555;
}

.main-header .buttons-panel {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
}

.main-header .buttons-panel .reserve {
  display: inline-block;
  padding: 14px 20px;
  text-decoration: none;
  background-color: #1ba5cd;
  color: #fff;
  margin: 0 2px 0 0;
  align-self: center;
}

.main-header .buttons-panel .reserve:hover {
  background-color: #30383b;
}

.main-header .buttons-panel .watch {
  display: inline-block;
  margin-left: 15px;
  color: #473452;
  text-decoration: none;
  align-self: center;
}

.main-header .buttons-panel .watch i {
  border: 1px solid #473452;
  font-size: 16px;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  margin-right: 5px;
  transition: all .3s;
}

.main-header .header-bg {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 30%;
  z-index: 1000000;
  display: none;
}

.main-header .header-flowers {
  position: absolute;
  top: 35%;
  left: 0;
  max-width: 8%;
  z-index: -1;
}

@media all and (min-width: 1000px) {
  .main-header .header-bg {
    max-width: 45%;
  }
}

@media all and (min-width: 992px) {
  .main-header .header-bg {
    display: block;
    max-width: 40%;
  }
  .main-header .main-header-holder {
    width: 50%;
  }
}

@media all and (max-width: 480px) {
  .main-header .buttons-panel .reserve,
  .main-header .buttons-panel .watch {
    margin-left: 0;
    margin-top: 10px;
  }
}

.about {
  text-align: center;
}

.about .about-header img {
  max-width: 100px;
}

.about .about-header .about-header-description {
  color: #473452;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 0;
}

.about .about-header .about-content {
  max-width: 850px;
  font-weight: 300;
  margin: 0 auto;
  margin-bottom: 26px;
}

.services .service {
  position: relative;
  height: 340px;
}

.services .service img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.services .service .service-overlay {
  position: absolute;
  background-color: rgba(45, 164, 200, 0.6);
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: all .3s;
}

.services .service .service-overlay:hover {
  opacity: 1;
}

.services .service .service-overlay img {
  width: 60px;
  height: auto;
}

.services .service .service-overlay h3 {
  color: #fff;
}

@media all and (min-width: 768px) {
  .services .service {
    height: 400px;
  }
}

.appointment {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.appointment .desktop-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 40%;
  display: none;
}

.appointment form {
  width: 100%;
  background-color: #1ba5cd;
  padding: 80px 40px;
  text-align: center;
}

.appointment form .appointment-inf {
  display: none;
  width: 100%;
  color: white;
  margin-top: 50px;
  font-size: 110%;
  padding: 3px 0;
}

.appointment form .appointment-inf.error {
  display: block;
  box-shadow: 0px 0px 4px red;
}

.appointment form .appointment-inf.send {
  display: block;
  box-shadow: 0px 0px 4px white;
}

@media all and (min-width: 768px) {
  .appointment form {
    width: 60%;
    padding: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .appointment form input,
  .appointment form select {
    width: 49%;
  }
  .appointment form .btn-form {
    flex: none;
  }
  .appointment .desktop-background {
    display: block;
  }
}

.contact {
  background-color: #1ba5cd;
  color: #fff;
}

.contact .section-header h2 {
  color: #fff;
}

.contact .contact-data {
  padding: 25px 0;
  margin-bottom: 30px;
}

.contact .contact-data .contact-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-transform: uppercase;
  justify-content: center;
}

.contact .contact-data .contact-item .img-holder {
  width: 15%;
  margin-right: 10px;
  text-align: center;
}

.contact .contact-data .contact-item .img-holder img {
  height: 30px;
}

.contact .contact-data .contact-item a {
  color: #fff;
  text-decoration: none;
}

.contact .contact-data .contact-item a:hover {
  text-decoration: underline;
}

@media all and (min-width: 768px) {
  .contact .contact-data .contact-item {
    justify-content: flex-start;
  }
}

.contact .contact-form {
  padding: 25px 0;
}

.page-footer {
  padding: 30px 0;
  text-align: center;
}

.page-footer img {
  width: 100px;
}

.page-footer .footer-nav .menu {
  list-style: none;
  background-color: #fff;
  padding: 20px 0;
}

.page-footer .footer-nav .menu .menu-item {
  display: inline-block;
  margin: 0 10px;
  font-size: initial;
  text-transform: uppercase;
  transition: all .3s;
}

.page-footer .footer-nav .menu .menu-item a {
  color: #473452;
  font-weight: 700;
  text-decoration: none;
  transition: all .3s;
}

.page-footer .footer-nav .menu .menu-item a:hover {
  text-shadow: 0px 0px 90px #1ba5cd;
}

.page-footer .footer-nav .menu .menu-item {
  padding: 5px 20px;
}

.page-footer .footer-nav .menu .menu-item a {
  color: #835285;
}

.btn-primary, .btn-secondary, .btn-form {
  border-radius: 30px;
  text-transform: uppercase;
  padding: 15px 30px;
  display: inline-block;
  text-decoration: none;
  border: 0;
  color: #fff;
}

.btn-primary {
  background-color: #1ba5cd;
}

.btn-primary:hover {
  background-color: #30383b;
}

.btn-secondary {
  background-color: #30383b;
}

.btn-secondary:hover {
  background-color: #1ba5cd;
}

.btn-form {
  background-color: #fff;
  color: #473452;
  transition: all .3s;
  font-weight: 700;
  margin-top: 50px;
}

.btn-form:hover {
  background-color: #30383b;
  color: #fff;
}

.infobox, .infobox-team {
  padding: 0 15px;
  margin-top: 30px;
  text-align: center;
}

.infobox .infobox-inner {
  border: 1px solid #e2e5ea;
  padding-top: 20px;
  padding-bottom: 45px;
}

.infobox .infobox-inner:hover {
  box-shadow: 0 5px 20px #f0f0f0;
}

.infobox .infobox-inner img {
  width: 90%;
}

.infobox .infobox-inner p {
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 90%;
}

.infobox .infobox-inner p.meta {
  font-size: 80%;
  text-transform: uppercase;
  margin-top: 25px;
}

.infobox .infobox-inner p.meta .blog-category {
  color: inherit;
  margin-right: 5px;
  text-decoration: none;
}

.infobox .infobox-inner p.meta .blog-post-date {
  color: inherit;
  margin-left: 5px;
  text-decoration: none;
}

.infobox-team {
  margin-bottom: 60px;
  position: relative;
}

.infobox-team img {
  width: 100%;
}

.infobox-team .infobox-team-caption {
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  background-color: #fff;
  bottom: -90px;
  width: 75%;
  transition: all .3s;
}

.infobox-team .infobox-team-caption h3 {
  margin-bottom: 5px;
}

.infobox-team .infobox-team-caption p {
  margin-top: 0;
  font-weight: 300;
}

.infobox-team .infobox-team-caption:hover {
  box-shadow: 0 5px 20px #f0f0f0;
  bottom: -30px;
}

.infobox-team .infobox-team-caption:hover .team-social-icons a {
  opacity: 1;
}

.infobox-team .infobox-team-caption .team-social-icons {
  transition: all .3s;
  padding-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.infobox-team .infobox-team-caption .team-social-icons a {
  height: 35px;
  width: 35px;
  font-size: 20px;
  display: inline-block;
  line-height: 35px;
  border-radius: 50%;
  border: 1px solid #473452;
  text-align: center;
  margin: 0 10px;
  opacity: 0;
  transition: all .5s;
}

.infobox-team .infobox-team-caption .team-social-icons a:hover {
  border: none;
  background-color: #1ba5cd;
  color: #fff;
}

input,
textarea,
select {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #ffffff;
  background-color: #1ba5cd;
  display: inline-block;
  padding: 15px;
  padding-bottom: 2px;
  margin-bottom: 15px;
  text-transform: uppercase;
  color: #fff;
  font-size: 120%;
}

input#appointment-date, input#appointment-time,
textarea#appointment-date,
textarea#appointment-time,
select#appointment-date,
select#appointment-time {
  width: 49%;
}

input::-webkit-calendar-picker-indicator,
textarea::-webkit-calendar-picker-indicator,
select::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
select::-webkit-input-placeholder {
  color: #fff;
}

input::-moz-placeholder,
textarea::-moz-placeholder,
select::-moz-placeholder {
  color: #fff;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder,
select:-ms-input-placeholder {
  color: #fff;
}

input:-moz-placeholder,
textarea:-moz-placeholder,
select:-moz-placeholder {
  color: #fff;
}

input.error,
textarea.error,
select.error {
  border-bottom: 1px solid red;
}

textarea {
  height: 42px;
  margin-top: 40px;
}
/*# sourceMappingURL=style.css.map */