@media screen and (max-width:992px) {
    figure {
        width: 49%;
    }
}

@media screen and (max-width:768px) {
    figure {
        width: 100%;
    }
}

@media screen and (max-width:768px) {
    #gallery {
        width: 100%;
    }
}