%btn {
    border-radius: 30px;
    text-transform: uppercase;
    padding: 15px 30px;
    display: inline-block;
    text-decoration: none;
    border: 0;
    color: #fff;
}

.btn-primary {
    @extend %btn;
    background-color: $primary-color;

    &:hover {
        background-color: $buttons-color;
    }
}

.btn-secondary {
    @extend %btn;
    background-color: $buttons-color;

    &:hover {
        background-color: $primary-color;
    }
}

.btn-form {
    @extend %btn;
    background-color: #fff;
    color: $secondary-color;
    transition: all .3s;
    font-weight: 700;
    margin-top: 50px;

    &:hover {
        background-color: $buttons-color;
        color: #fff;
    }

}